body {
  background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, #4a626e 131%);
  font-weight: 100;
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}

h1 {
  font-size: 40px;
  transition: font-size 0.5s;
  display: inline-block;
}

h1:hover {
  font-size: 42px;
}

p {
  margin-bottom: 2rem;
}

#current-temp {
  padding-right: 5px;
}

.container {
  color: white;
  background: #00000046;
  max-width: 979px;
  min-width: 979px;
  margin: auto;
  border-radius: 20px;
}

.col-9 {
  padding-top: 220px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-position: 100%;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.metric {
  position: relative;
  top: -15px;
  left: -6px;
}

.weather-forecast-temperature-max {
  font-weight: 200;
}

.weather-forecast-temperature-min {
  font-weight: 200;
}

.weather-forecast-temperature-max:hover {
  font-weight: 400;
}

.weather-forecast-temperature-min:hover {
  font-weight: 250;
}

.col-3 {
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 0px;
}

.col-12 {
  padding-top: 27px;
}

.col-7 {
  padding-left: 6px;
  line-height: 3.5;
}

.col-1 {
  line-height: 3.5;
  font-weight: 300;
}

.humidity.value:hover {
  font-weight: 500;
}

.wind.value:hover {
  font-weight: 500;
}

.rain.value:hover {
  font-weight: 500;
}

.clouds.value:hover {
  font-weight: 500;
}

#details {
  padding-top: 30px;
}

#description {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 14px;
}

button {
  border: 0px;
  position: relative;
  top: -2px;
}

span {
  font-weight: 600;
}

ul {
  padding-left: 7px;
  list-style: none;
}

li {
  padding-bottom: 20px;
}

#source {
  color: rgb(31, 33, 48);
  position: relative;
  left: 755px;
  font-size: small;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: rgb(82, 113, 130);
  text-decoration: none;
}

#main-icon {
  position: relative;
  bottom: 9px;
  left: 3px;
  max-width: 60px;
}
